@keyframes anima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(15);
  }
}

@keyframes fluid01 {
  0% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.animate-fluid01 {
  animation: fluid01 25s infinite, anima 1.4s ease-in-out forwards;
}

.animate-anima {
  animation: anima 3s ease-in-out forwards;
}
