@import "tailwindcss";

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  background: transparent;
}
p {
}
@custom-variant dark (&:where(.dark, .dark *));
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Inter", sans-serif;
}
html {
  font-size: 16px !important;
}
